{% extends "base.html" %}
{% load static %}
{% block title %}Daftar{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container" style="max-width: 750px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h2>Daftar</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Daftar</button>
    </form>
    <div class="form-group">
        Sudah mempunyai akun? <a href="{% url 'account:login' %}">Login</a>
    </div>
</div>
{% endblock %}