{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %}

{% block content %}

<!-- Testimonial Section -->
<div class="container-fluid" id="in-testimonial-page">
  <div class="row content">
    <div class="col-lg-8 mx-auto">
      <div class="lingkarans" id="specific-testimpage">
        <div class="didalem">
          <p class="titlefix" style="font-size: 20px !important;"> About Us </p>
          <h3>Hello! Welcome To Testimonial Page </h3>
          <br>
          <br>
          <p class="text-justify isi"> Thank you for visiting New Normal Info Project. New Normal Info is a platform
            that will give you some information about Co-Vid 19, including list of hospital that handling Co-Vid 19
            patients.

            <br>
            <br>
          <h3 class="w3-right-align"
            style="text-align: right; margin-bottom: 50px !important; font-size: 15px !important;">Best regards,</h3>
          <h4 class="w3-right-align"
            style="margin-top:-2%; color: #5967B1; text-align: right; font-size: 15px !important">New Normal Info Team
          </h4>
          </p>
        </div>
      </div>
      <br>
      <div class="lingkarans" id="list-testim-bg">
        <div class="didalem">
          <p class="titlefix" style="font-size: 20px !important;"> List of Testimonials </p>
          <table id="tableTesti" class="table" style="font-size: 17px;">
            <thead>
              <tr class="table text-center">
                <!-- <th scope="col" class="align-middle">No</th> -->
                <th scope="col" class="align-middle"> Name </th>
                <th scope="col" class="align-middle"> Testimonial </th>
                <th scope="col" class="align-middle"> Date </th>
              </tr>
            </thead>
            {% if testimonis %}
            <tbody>
              {% for data in testimonis %}
              <tr>
                <td scope="row" style="text-align: center"> {{data.name}} </td>
                <td scope="row" style="text-align: center"> {{data.testimonial}} </td>
                <td scope="row" style="text-align: center"> {{data.date_create}} </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {% else %}
          <tbody>
            <h3 id="talk2"> There are no testimonial yet. Send yours! </h3>
          </tbody>
          </table>
          {% endif %}
        </div>
      </div>

      {% if user.is_authenticated %}
      <div class="lingkarans" id="call-to-testimonial">
        <div class="didalem">
          <p class="titlefix" style="margin-top: -80px !important; font-size: 20px !important;"> Send Testimonial </p>
          <form class="form-group" action="#" method="POST" id="post-form" style="color: #E07B91;">
            {% csrf_token %}
            {% include 'testimonialbyuserform.html' with form=form %}
          </form>
        </div>
      </div>
      {% else %}
      <div class="lingkarans">
        <div class="didalem">
          <p class="titlefix"> Send Testimonial </p>


          <a class="isi kembali" style="text-decoration: underline;" href="{% url 'account:login' %}"><i
              class="fa fa-sign-out" aria-hidden="true"></i> Please login before sending your testimonials. </a>

        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- End of Testimonials Section -->

<!-- Script Section -->
<script>
  const csrftoken = Cookies.get('csrftoken');
  $('#post-form').on('submit', function (event) {
    event.preventDefault();
    console.log("Your form already submitted.");
    create_post();
  });
  function create_post() {
    console.log("Your post was created. Congratulations!");
    console.log($('#post-text').val());
    $.ajax({
      url: "api/",
      type: "POST",
      headers: {'X-CSRFToken' : csrftoken},
      data: {'testimonial': $('#post-text').val()},
      success: loadTestimonials
    });
  };

  function loadTestimonials() {
    $("#tableTesti").empty()
    $.ajax({
      url: "api/",
      method: "get",
      dataType: "json",
      success: function (json) { 
      $.each(JSON.parse(json.list), function(index, value) { 
        console.log(value);
        $("#tableTesti").append("<tr><td scope='row' style='text-align: center'>" + value.fields.name + "</td>" +
          "<td scope='row' style='text-align: center'>" + value.fields.testimonial + "</td>" +
          "<td scope='row' style='text-align: center'>" + value.fields.date_create + "</td></tr>");
        console.log("log in was successful");})
      },
    });
  };

  $(document).ready(function() {
    $("#test_button").on("click", create_post)
  });
  
</script>

<!-- End of Script Section -->

{% endblock %}