{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
{% include 'daftarrumahsakit/header.html' %}



<!-- {% if user.is_authenticated %} -->

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Rumah Sakit</th>
            <th>Lokasi</th>
            <th>Kontak</th>           
          </tr>
        </thead>
        <tbody>
        {% for item in rs %}
          <tr>
            <td style="font-weight: bold; font-size: 16px;">{{item.name}}</td>
            <td>{{item.loc}}</td>
            <td>{{item.contact}}</td>                        
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'daftarrumahsakit:home'%}" class="btn btn-info" role="button">Back</a>
    </div>
  </div>
</div>  
<!-- 
{% else %}
<div class="container">
	<br><br>
	<p style="font-size: 30px;font-weight: bold;">Please login to get the info</p>
	<br><br>
</div>
{% endif %} -->


{% endblock %}

