{% extends 'dasar.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}

{% include 'daftarrumahsakit/header.html' %}

{% if not user.is_authenticated %}
<br>
<div class="container" style="padding:40px 30px;">
  <h3 style="text-align: center;">Login untuk mendapatkan</h2>
  <h3 style="text-align: center;">daftar rumah sakit rujukan COVID-19 di Indonesia!</h2>
</div>
{% endif %}
<br><br>
<div class="items">
  {% for item in city %}
  <div class="card">
      <div class="media media-2x1 gd-primary"> <img class="profile-image" src="{{item.img}}"> </div>
      <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">{{item.name}}</h5>
          <a href="{{item.city_slug}}" class="stretched-link"></a>
      </div>
  </div>
  
  {% endfor %}
</div>

<br><br><br>

<div class="container" style="padding:30px 100px;background-color: #F5F5F5;">
    <br><br>
    <h1 style="text-align: center;">Halo {{ request.user.username }}! Cari Juga</h1>
    <h5 style="text-align: center;">Rumah Sakit Rujukan COVID-19 di seluruh provinsi! (login required)</h5>
    <br>

  {% if user.is_authenticated %}
	<form role="form" style="padding:10px 70px;">
        <div class="form-group" >
          <input type="input" class="form-control input-lg" id="txt-search" placeholder="Rumah Sakit/Provinsi"  style="padding:10px 10px;"> 
        </div>
    </form>
    <br>
  <div id="filter-records" ></div>
	{% endif %}
</div>

<!-- 
<div class="items"></div> -->


<script src="{% static 'carousel.js' %}"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<br><br><br><br><br><br><br><br>


{% endblock %}