{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}

<div class="bbbootstrap">
  <h1 class="display-4" style="text-align: center; font-weight: bold; font-family: 'Rubik';">Rumah Sakit Rujukan</h1>
  <h3 style="text-align: center; font-family: 'Rubik';"> COVID-19 DKI Jakarta</h3>
  <div class="container">
      <form method="POST" action="#" >
        {% csrf_token %}
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" name = "srh" placeholder="RS/Kota/Kelurahan" role="searchbox" class="InputBox" autocomplete="off"><input type="submit" class="Button" value="Search">
      </form>
  </div>
  <br><br><br><br>
</div>


<!-- {% if user.is_authenticated %} -->
<div>
    {% if messages %}
    <br><br>
        <div class="container">
            <div class="row" style="margin-left:0px;">
                {% for k in messages%}
                    <h1>{{ k }}</h1> 
                {% endfor %}
            </div>
            <br>
            <a href="{% url 'daftarrumahsakit:home'%}" class="btn btn-info" role="button">Back</a>
        </div>
    <br><br><br>
    {% endif %}
</div>
<div>
    {% if sr %}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rumah Sakit</th>
                            <th>Lokasi</th>
                            <th>Kontak</th>           
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in sr %}
                        <tr>
                            <td style="font-weight: bold;">{{item.name}}</td>
                            <td>{{item.loc}}</td>
                            <td>{{item.contact}}</td>                        
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'daftarrumahsakit:home'%}" class="btn btn-info" role="button">Back</a>
            </div>
        </div>
    </div>     
    {% endif %}
</div>

<!-- {% else %}
<div class="container">
	<br><br>
	<p style="font-size: 30px;font-weight: bold;">Please login to get the info</p>
	<br><br>
</div>
{% endif %} -->

<br><br>
{% endblock %}