<!-- ======= Contact Us Section ======= -->
<section id="contact-form1" class="contact section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4> Location: </h4>
              <p> Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424 </p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>new-normal-info@cs.ui.ac.id</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4> Call: </h4>
              <p> (021) 881646712 </p>
            </div>
            
          <!-- menampilkan maps dari Fasilkom UI using iFrame -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.228418144345!2d106.82648981402879!3d-6.364477795394506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec1ad14fb6cf%3A0xc94e4d829420fa15!2sFakultas%20Ilmu%20Komputer%20Universitas%20Indonesia!5e0!3m2!1sid!2sid!4v1605468095965!5m2!1sid!2sid" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
         
          </div>
        </div>
        

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

             <div class="form-row">
              <div class="form-group col-md-6">
              <form method='POST' novalidate>
                        {% csrf_token %}
                    
                        {{ form.as_p }}
                    
                <div><input type='submit' value='Send Message' style='background-color: #4390BC !important; color: white;'/> </div>
          
              </form>
          </div>                          
          

        </div>
  

      </div>

    </div>
  </section><!-- End Contact Us Section -->