<!-- ======= Testimonial By User Section ======= -->
<section id="contact-form1" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h3 style="color: black !important; width: 80% !important; margin: auto !important;">  Help us by sending your testimonials to make NewNormalInfo Website better!  </h3>
      </div>

      <div class="row">

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">

             <div class="form-row">
              <div class="form-group col-md-6">
            
                <form id="testimonialform">
                  {% csrf_token %}
                  {{ form.as_p }}

                  <div class="center" style="margin-left: 220px !important; margin-bottom: -50px !important;">
                      <input class="btn-light round" id="test_button" type="submit" value="Send It Now">
                  </div>
              </form>
               
           
          </div>                          
          

        </div>
  

      </div>

    </div>
  </section><!-- End Testimonial By User Section -->