{% extends "base.html" %}
{% load static %}
{% block title %}Forum{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
<style>
.row {
    margin: 10px 0px 10px 0px;
}

p {
    vertical-align: middle;
}
#loader {
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}

.vote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: url('/static/img/forum/votesprite.png');
    background-position: 0 -25px;
}

.score {
    text-align: center; 
    width: 40px; 
    height: 25px;
}

.vote.on {
    background-position: 0 2px;
}

.modified {
    color: orange;
}

.downvote {
    transform: rotate(180deg);
}
</style>
<div class="container" style="max-width: 1000px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <h1>Forum</h1>
    {% if user.is_authenticated %}
    Anda masuk sebagai {{ user.username }} <a href="{% url 'account:logout' %}">logout</a>
    {% else %}
    Silakan login atau daftar untuk post topik dan komentar
    {% endif %}
    <div class="row d-flex justify-content-between form-inline">
        <div class="btn-group" role="group">
            <a id="recent" class="btn btn-primary">Terbaru</a>
            <a id="popular" class="btn btn-primary">Populer</a>
        </div>
        <input type="text" class="col-sm form-control" placeholder="Search" id="search">
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'forum:post' %}">Post Topik</a>
        {% else %}
        <div role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="{% url 'account:login' %}">Login</a>
            <a class="btn btn-primary" href="{% url 'account:signup' %}">Daftar</a>
        </div>
        {% endif %}
    </div>
<script>
var sortBy = "recent";
var page = 1;
var totalPages = 0;

function  loadPosts() {
    $("#ForumPosts").empty();
    $("#loader").show();
    var search = $("#search").val();

    if (sortBy !== "recent" && sortBy !== "popular") sortBy = "recent";
    $.ajax({
        url: "{% url 'forum:getPosts' %}?sort-by=" + sortBy + "&p=" + parseInt(page) + "&search=" + search,
        type: "GET",
        dataType: "json",
        success: function(result) {
            resultHTML = "";
            $.each(result.content, function(key, val) {
                resultHTML += "<li class='list-group-item'><div class='row d-flex justify-content-between'>";
                resultHTML += "<div class='col'><div class='upvote vote ";
                if (val.vote === "up") resultHTML += "on";
                resultHTML += "' pk='" + val.post_pk + "'></div><div>";
                resultHTML += "<div class='score ";
                if (val.vote !== "none") resultHTML += "modified";
                resultHTML += "'>" + val.score + "</div>";
                resultHTML += "</div><div class='downvote vote ";
                if (val.vote === "down") resultHTML += "on";
                resultHTML += "' pk='"+ val.post_pk + "'></div></div>";
                resultHTML += "<div class='col-3'>";
                resultHTML += "<a href='view/" + val.post_pk + "'>" + val.title + "</a>";
                if ("author" in val)
                    resultHTML += "<div>Oleh: " + val.author + "</div></div><div class='col-2'>";
                else
                    resultHTML += "<div>Oleh: Anonim </div></div><div class='col-2'>";
                resultHTML += "Balasan: " + val.reply_count + "</div><div class='col-6'>Balasan terakhir: " + val.recent_update + "</div>";
                resultHTML += "</div></li>";
            });
            $("#loader").hide();
            $("#ForumPosts").html(resultHTML);
            $("#pagenum").html("Page " + result.currPage + " of " + result.totalPages)
            
            page = parseInt(result.currPage);
            totalPages = parseInt(result.totalPages);

            if (page === 1) {
                $("#first, #prev").hide();
            } else {
                $("#first, #prev").show();
            }

            if (page === totalPages) {
                $("#last, #next").hide();
            } else {
                $("#last, #next").show();
            }

            refreshHandlers();
        }
    });
}

function refreshHandlers() {
    $("#first").on("click", function() {
        if (page === 1) return;
        else page = 1;
        loadPosts();
    });

    $("#prev").on("click", function() {
        if (page === 1) return;
        else page -= 1;
        loadPosts();
    });

    $("#next").on("click", function() {
        if (page == totalPages) return;
        else page += 1;
        loadPosts();
    });

    $("#last").on("click", function() {
        if (page == totalPages) return;
        else page = totalPages;
        loadPosts();
    });

    $(".upvote").on("click", function(){
        var self = $(this);
        var csrftoken = Cookies.get('csrftoken');
        pk = self.attr("pk");
        $.ajax({
            url : "upvote/" + pk,
            type: "post",
            dataType: "json",
            headers: {'X-CSRFToken': csrftoken}, 
            success: function(result) {
                if (result.status === "upvoted" && !self.hasClass("on")) {
                    self.addClass("on");
                    var score = parseInt(self.next().text())+1;
                    self.next().html(score.toString());
                    self.next().addClass("score modified");
                } else if (result.status === "upvote canceled" && self.hasClass("on")) {
                    self.removeClass("on");
                    var score = parseInt(self.next().text())-1;
                    self.next().html(score.toString());
                    self.next().removeClass("modified").addClass("score");
                }
            }
        });
    });

    $(".downvote").on("click", function(){
        var self = $(this);
        var csrftoken = Cookies.get('csrftoken');
        pk = self.attr("pk");
        $.ajax({
            url : "downvote/" + pk,
            type: "post",
            dataType: "json",
            headers: {'X-CSRFToken': csrftoken},
            success: function(result) {
                if (result.status === "downvoted" && !self.hasClass("on")) {
                    self.addClass("on");
                    var score = parseInt(self.prev().text())-1;
                    self.prev().html(score.toString());
                    self.prev().addClass("score modified");
                } else if (result.status === "downvote canceled" && self.hasClass("on")) {
                    self.removeClass("on");
                    var score = parseInt(self.prev().text())+1;
                    self.prev().html(score.toString());
                    self.prev().removeClass("modified").addClass("score");
                }
            }
        });
    });
}

$(document).ready(function() {
    loadPosts();

    $("#recent").on("click", function() {
        sortBy = "recent";
        loadPosts();
    });

    $("#popular").on("click", function() {
        sortBy = "popular";
        loadPosts();
    });

    $("#search").on("keyup", function() {
        page = 1;
        totalPages = 0;
        loadPosts();
    });
});
</script>
    <div class="spinner-border" id="loader"></div>
    <ul class="list-group" id="ForumPosts">
    </ul>
    <div class="row justify-content-center">
        <nav>
            <ul class="pagination">
            <li class="page-item"><a class="page-link" id="first">&lt;&lt;</a></li>
            <li class="page-item"><a class="page-link" id="prev">&lt;</a></li>
            <li class="page-item"><a class="page-link" id="pagenum"></a></li>
            <li class="page-item"><a class="page-link" id="next">&gt;</a></li>
            <li class="page-item"><a class="page-link" id="last">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}