{% extends "base.html" %}
{% load static %}
{% block title %}Forum | Balas{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> 
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container" style="max-width: 1000px; margin: auto; margin-top: 100px;">
    <h1>Balas</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <b>{% if postnodedest.author %}{{ postnodedest.author }}{% else %}Anonim{% endif %}</b> - {{ postnodedest.get_creation_datetime }} <br>
                {{ postnodedest.content|safe }}
            </p>
        </div>
    </div>
    <br>
    <div>Balas sebagai {{ user.username }} <a href="{% url 'account:logout' %}">logout</a></div>
    <form method="POST" style="margin-top: 20px;">
        {% csrf_token %}
        {{ postnodeform.media }}
        {{ postnodeform.as_p }}
        <input class="btn btn-primary" type="submit" value="Balas">
    </form>
</div>
{% endblock %}
